<main>
   
    <div class="mt-4 mr-5 ml-3 max-md:mr-2.5 max-md:max-w-full">
      <div class="flex gap-5 max-md:flex-col">
        <section class="flex flex-col w-[50%] max-md:ml-0 max-md:w-full">
          <div class="flex justify-between items-start pt-3.5 pr-4 pb-48 pl-4 mx-auto w-full text-sm leading-relaxed bg-white rounded-lg border border-solid border-zinc-100 shadow-[0px_0px_2px_rgba(23,26,31,0.12)] max-md:pr-5 max-md:pb-24 max-md:mt-3">
            <h2 class="rotate-[2.4492937051703357e-16rad] text-zinc-700">
              Task Today
            </h2>
            <h2 class="text-customBlue-500 cursor-pointer text-xs mt-1">See All</h2>
          </div>
        </section>
        <!-- <section class="flex flex-col ml-5 w-[33%] max-md:ml-0 max-md:w-full">
          <div class="flex flex-col grow pt-3.5 pr-20 pb-20 pl-4 w-full bg-white rounded-lg border border-solid border-zinc-100 shadow-[0px_0px_2px_rgba(23,26,31,0.12)] max-md:pr-5 max-md:mt-3">
            <h2 class="self-start text-xs leading-relaxed rotate-[2.4492937051703357e-16rad] text-zinc-700">
              Docs
            </h2>
            <p class="text-center mt-28 ml-14 text-xs leading-loose text-gray-500 rotate-[2.4492937051703357e-16rad] max-md:mt-10">
              You haven't added any Docs to this location.
            </p>
          </div>
        </section> -->
        <section class="flex flex-col ml-5 w-[50%] max-md:ml-0 max-md:w-full">
          <div class="flex flex-col grow pt-3.5 pr-14 pb-16 pl-4 w-full text-sm leading-relaxed bg-white rounded-lg border border-solid border-zinc-100 shadow-[0px_0px_2px_rgba(23,26,31,0.12)] max-md:pr-5 max-md:mt-3">
            <h2 class="self-start rotate-[2.4492937051703357e-16rad] text-zinc-700">
              Assets
            </h2>
            <!-- <p class="mt-20 text-xs leading-4 text-center text-gray-500 rotate-[2.4492937051703357e-16rad] max-md:mt-10">
             Insert Assets to save
            </p> -->
          </div>
        </section>
      </div>
    </div>
    <section class="flex flex-col items-start pt-3.5 pr-20 pb-48 pl-4 mt-3 mr-5 ml-3 text-sm leading-relaxed whitespace-nowrap bg-white rounded-lg border border-solid border-zinc-100 shadow-[0px_0px_2px_rgba(23,26,31,0.12)] max-md:pr-5 max-md:pb-24 max-md:mr-2.5 max-md:max-w-full">
      <h2 class="rotate-[2.4492937051703357e-16rad] text-zinc-700">
        Folders
      </h2>
      <div class="flex gap-1 px-3 py-3.5 mt-3 mb-0 bg-white rounded-md border border-gray-200 border-solid text-zinc-700 max-md:mb-2.5 cursor-pointer">
        <img loading="lazy" src="assets/icons/common/project.png" alt="" class="object-contain shrink-0 w-4 rounded-md aspect-square" />
        <div class="basis-auto">Projects</div>
      </div>
    </section>
    <section class="flex gap-5 justify-between items-start py-2.5 pl-3.5 mt-3.5 mr-5 ml-3.5 max-w-full bg-white rounded border border-white border-solid shadow-[0px_0px_2px_rgba(23,26,31,0.12)] max-md:mr-2.5">
      <div class="flex flex-col pb-32 self-start text-sm leading-relaxed whitespace-nowrap text-zinc-700 max-md:max-w-full">
        <h2 class="self-start rotate-[2.4492937051703357e-16rad]">
          Leads & Project Activity
        </h2>
      </div>
    </section>
  </main>