@if (isLoading) {
<app-spinner></app-spinner>
}

<div class="alerts-container mt-3">
  <app-alerts *ngFor="let alert of alerts" [alert]="alert"></app-alerts>
</div>

<div class="flex bg-gray-50">
  <!-- Left Content -->
  <app-sidebar></app-sidebar>

  <div class="ml-60 w-[90%]">
    <!-- Main Content --> 
    <app-navbar
     (toggleNotesEvent)="isNotesOpen = $event"
     (toggleBookmarksEvent)="isBookmarksOpen = $event"
    ></app-navbar>
    <router-outlet></router-outlet>
  </div>

  <!-- Right Content -->
  <div class="w-[10%] mr-16" *ngIf="isNotesOpen">
    <!-- Notes Sidebar -->
    <app-notes-sidebar></app-notes-sidebar>
  </div>
  <div class="w-[10%] mr-16" *ngIf="isBookmarksOpen">
    <!-- Bookmarks Sidebar -->
    <app-bookmarks-sidebar></app-bookmarks-sidebar>
  </div>
</div>

<div *ngIf="isCookieModalOpen">
  <app-cookie-modal></app-cookie-modal>
</div>
