@if (isLoading) {
<app-spinner></app-spinner>
}

<div class="alerts-container mt-3" >
  <app-alerts *ngFor="let alert of alerts" [alert]="alert"></app-alerts>
</div>

<div class="flex h-screen bg-gray-50" *ngIf="!isLoading">
  <!-- Left Content -->
  <app-sidebar></app-sidebar>

  <div class="ml-60 w-[90%]">
    <!-- Main Content --> 
    <div>
      <app-navbar
     (toggleNotesEvent)="isNotesOpen = $event"
     (toggleBookmarksEvent)="isBookmarksOpen = $event"
    ></app-navbar>
    </div>
    <router-outlet></router-outlet>
    <div #messageContainer class="message-container flex-1 overflow-y-auto p-4 bg-gray-50">
      <app-chat></app-chat>
    </div>
  </div>

  <!-- Right Content -->
  <div class="w-[10%] mr-16" *ngIf="isNotesOpen">
    <!-- Notes Sidebar -->
    <app-notes-sidebar></app-notes-sidebar>
  </div>
  <div class="w-[10%] mr-16" *ngIf="isBookmarksOpen">
    <!-- Bookmarks Sidebar -->
    <app-bookmarks-sidebar></app-bookmarks-sidebar>
  </div>
</div>



<div *ngIf="isCookieModalOpen">
  <app-cookie-modal></app-cookie-modal>
</div>
