<!-- Spaces Section -->
<div class="mt-8">
  <div class="flex items-center justify-between">
    <span class="text-xs font-medium text-gray-500 mb-2">SPACES</span>
    <button
      class="text-gray-400 hover:text-gray-600 flex items-start space-x-2 mr-2"
      (click)="toggleSpace()"
    >
      <img
        class="w-4 h-4 opacity-60 hover:opacity-90"
        src="assets/icons/dashboard/refresh.png"
        alt="Refresh"
        [ngClass]="{ 'rotate-animation': isRotating }"
        (click)="refreshIcon()"
      />
      <img
        class="w-4 h-4 opacity-80 hover:opacity-100"
        src="assets/icons/dashboard/plus-black.png"
        alt="New Space"
        (click)="openModal()"
        data-tooltip-target="tooltip-right"
        data-tooltip-placement="right"
        type="button"
      />
    </button>
    <div
    id="tooltip-right"
    role="tooltip"
    class="absolute z-10 invisible inline-block px-3 py-2 text-xs font-medium text-gray-600 bg-gray-200 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700"
  >
    Add a new space
    <div class="tooltip-arrow" data-popper-arrow></div>
  </div>
  </div>


  <app-add-space-model
    [isModalOpen]="isModalOpen"
    (closeModalEvent)="closeModal()"
  ></app-add-space-model>

  <div class="space-y-1 mt-2">
    <a
      *ngFor="let space of spaces; let i = index"
      class="flex items-center justify-between px-2 py-2 text-gray-700 rounded-lg hover:bg-gray-100 group"
    >
      <div class="flex items-center space-x-2">
        <svg
          class="w-5 h-5"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10"
          ></path>
        </svg>
        <ng-container *ngIf="editingIndex === i; else viewMode">
          <input
            type="text"
            [(ngModel)]="updatedSpaceName"
            (keyup.enter)="saveEdit(space)"
            (blur)="saveEdit(space)"
            class="w-44 rounded-lg border text-sm mt-1 mb-1 border-gray-300 px-2 py-2 bg-gray-100 text-gray-700 focus:outline-none focus:border-transparent"
          />
        </ng-container>
        <ng-template #viewMode>
          <span class="text-sm"> {{ space.name }} </span>
        </ng-template>
      </div>
      <button
        class="text-gray-400 hover:text-gray-600 opacity-0 group-hover:opacity-100 transition-opacity duration-200"
        (click)="toggleSpace()"
        *ngIf="editingIndex !== i"
      >
        <img
          class="w-4 h-4 opacity-60 mx-2 hover:opacity-90"
          src="https://img.icons8.com/fluency-systems-filled/50/ellipsis.png"
          alt="ellipsis"
          (click)="toggleSubmenu(i)"
        />
      </button>
      

      <div
        *ngIf="isSubmenuOpen && selectedSpaceIndex === i"
        class="absolute bg-white shadow-md rounded-md p-2 mt-28 z-10 ml-48"
      >
        <ul class="space-y-2">
          <li
            class="cursor-pointer flex text-gray-600 text-xs hover:bg-gray-200 px-2 py-1 rounded"
            (click)="handleInfo(space)"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-4 h-4 mr-2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 7.5h1.5m-1.5 3h1.5m-7.5 3h7.5m-7.5 3h7.5m3-9h3.375c.621 0 1.125.504 1.125 1.125V18a2.25 2.25 0 0 1-2.25 2.25M16.5 7.5V18a2.25 2.25 0 0 0 2.25 2.25M16.5 7.5V4.875c0-.621-.504-1.125-1.125-1.125H4.125C3.504 3.75 3 4.254 3 4.875V18a2.25 2.25 0 0 0 2.25 2.25h13.5M6 7.5h3v3H6v-3Z"
              />
            </svg>

            New Team
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-2 h-2 fill-gray-600 opacity-70 ml-3 mt-1 -rotate-90"
              viewBox="0 0 451.847 451.847"
              (mouseenter)="toggleNewTeamSubMenu(i)"
            >
              <path
                d="M225.923 354.706c-8.098 0-16.195-3.092-22.369-9.263L9.27 151.157c-12.359-12.359-12.359-32.397 0-44.751 12.354-12.354 32.388-12.354 44.748 0l171.905 171.915 171.906-171.909c12.359-12.354 32.391-12.354 44.744 0 12.365 12.354 12.365 32.392 0 44.751L248.292 345.449c-6.177 6.172-14.274 9.257-22.369 9.257z"
                data-original="#000000"
              />
            </svg>
            <div
              class="absolute bg-white shadow-md rounded-md p-2 z-30 ml-28"
              *ngIf="
                isSubmenuOpen &&
                selectedSpaceIndex === i &&
                isNewTeamSubmenuOpen
              "
            >
              <ul class="space-y-1" (mouseleave)="toggleNewTeamSubMenu(i)">
                <li
                  class="cursor-pointer flex text-gray-600 text-xs hover:bg-gray-200 px-2 py-1 rounded"
                >
                  Organization
                </li>
                <li
                  class="cursor-pointer flex text-gray-600 text-xs hover:bg-gray-200 px-2 py-1 rounded"
                >
                  Personal
                </li>
              </ul>
            </div>
          </li>
          <li
            class="cursor-pointer flex text-gray-600 text-xs hover:bg-gray-200 px-2 py-1 rounded"
            (click)="enterEditMode(space, i)"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-4 h-4 mr-2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10"
              />
            </svg>

            Update Name
          </li>
          <li
            class="cursor-pointer flex text-gray-600 text-xs hover:bg-gray-200 px-2 py-1 rounded"
            (click)="handleInfo(space)"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-4 h-4 mr-2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z"
              />
            </svg>

            Space Info
          </li>
          <li
            class="cursor-pointer flex hover:bg-gray-200 text-xs px-2 py-1 rounded text-red-600"
            (click)="handleDelete(space)"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-4 h-4 mr-2 text-red-600"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"
              />
            </svg>

            Delete Item
          </li>
        </ul>
      </div>
 
    </a>
    <!-- <div class="flex gap-2.5 mt-2 ml-5 text-xs leading-loose whitespace-nowrap text-zinc-600 max-md:ml-2.5">
      <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/9d0f8ad4255e3ee8bd4b627b5c0d96073eca535b3c93c340b6373551aee5b4e4?placeholderIfAbsent=true&apiKey=6f7a1698a3674de3a21dfe43a82590bf" alt="" class="object-contain shrink-0 self-start rounded-md aspect-square w-[17px]" />
      <div class="rotate-[2.4492937051703357e-16rad]">
        Projects
      </div>
    </div> -->
  </div>

</div>

