<div class="mt-4 relative group inline-block">
  <div
    class=" rounded-md hover:cursor-pointer flex justify-center items-center gap-4 px-4"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 18 14"
      height="20"
      width="20"
    >
      <path
        fill="#1a91ff"
        d="M16.2 1.75H8.1L6.3 0H1.8C0.81 0 0 0.7875 0 1.75V12.25C0 13.2125 0.81 14 1.8 14H15.165L18 9.1875V3.5C18 2.5375 17.19 1.75 16.2 1.75Z"
      ></path>
      <path
        fill="#80bfff"
        d="M16.2 2H1.8C0.81 2 0 2.77143 0 3.71429V12.2857C0 13.2286 0.81 14 1.8 14H16.2C17.19 14 18 13.2286 18 12.2857V3.71429C18 2.77143 17.19 2 16.2 2Z"
      ></path>
    </svg>
    <p class="text-sm">Project</p>
  </div>

  <div
    class="absolute  mt-1 w-64 rounded-md opacity-0 group-hover:opacity-100 transition-opacity duration-1000"
  >
    <ul class="p-4 space-y-1 text-sm cursor-pointer justify-start">
      <li class="pl-6 py-1 font-medium bg-gray-50   rounded-md mr-10"> Software</li>
      <li class="pl-16 py-1 text-xs"> VSCode</li>
      <li class="pl-16 py-1 text-xs"> InteliJ IDEA</li>
      <li class="pl-6 py-1 font-medium bg-gray-50 rounded-md mr-10"> Assets</li>
      <li class="pl-6 py-1 font-medium bg-gray-50 rounded-md mr-10">Docs</li>
      <li class="pl-6 py-1 font-medium bg-gray-50 rounded-md mr-10"> Task</li>
      <li class="pl-16 py-1 text-xs"> Today</li>
      <li class="pl-16 py-1 text-xs"> Weekly</li>
      <!-- <li class="pl-4 py-1">📁 styles</li>
      <li class="pl-8 py-1">📄 globals.css</li> -->
    </ul>
  </div>
</div>
